<footer class="mt-8 py-4 bg-gray-50">
    <div class="mx-auto max-w-6xl px-6 lg:px-8 block text-center sm:text-left sm:flex justify-between gap-4">
        <p>&copy; 2025</p>
        <nav>
            <dl class="list-none inline-flex gap-2">
                <dt>Connect with me on social media:</dt>
                <dd>
                    <a href="https://github.com/craftcmsdeveloper" target="_blank">
                        <i class="fa-brands fa-github" aria-hidden="true"></i>
                        <span class="sr-only">Github</span>
                        <noscript>Github</noscript>
                    </a>
                </dd>
                <dd>
                    <a href="https://linkedin.com/in/craftcmsdeveloper" target="_blank">
                        <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
                        <span class="sr-only">LinkedIn</span>
                        <noscript>LinkedIn</noscript>
                    </a>
                </dd>
            </dl>
        </nav>
    </div>
</footer>

<noscript><img referrerpolicy="no-referrer-when-downgrade" src="https://whatsonhebdenbridge.matomo.cloud/matomo.php?idsite=6&amp;rec=1" style="border:0;" alt="" /></noscript>